<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="Connection_settings">
		<size>400,217</size>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="baud" member="yes">
			<value>9600</value>
			<pos>112,32</pos>
			<handler function="OnbaudTextEnter1" entry="EVT_TEXT" />
			<handler function="OnbaudTextEnter1" entry="EVT_TEXT_ENTER" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Baud Rate</label>
			<pos>32,40</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Port</label>
			<pos>56,104</pos>
		</object>
		<object class="wxButton" name="wxID_OK" variable="Button1" member="yes">
			<label>OK</label>
			<pos>96,160</pos>
		</object>
		<object class="wxChoice" name="ID_CHOICE1" variable="ChoicePort" member="yes">
			<content>
				<item>/dev/ttyS0</item>
				<item>/dev/ttyS1</item>
				<item>/dev/ttyS2</item>
				<item>/dev/ttyS3</item>
				<item>/dev/ttyS4</item>
				<item>/dev/ttyS5</item>
				<item>/dev/ttyS6</item>
				<item>/dev/ttyS7</item>
				<item>/dev/ttyS8</item>
				<item>/dev/ttyS9</item>
				<item>/dev/ttyS10</item>
				<item>/dev/ttyS11</item>
				<item>/dev/ttyS12</item>
				<item>/dev/ttyS13</item>
				<item>/dev/ttyS14</item>
				<item>/dev/ttyS15</item>
				<item>/dev/ttyUSB0</item>
				<item>/dev/ttyUSB1</item>
				<item>/dev/ttyUSB2</item>
				<item>/dev/ttyUSB3</item>
				<item>/dev/ttyUSB4</item>
				<item>/dev/ttyUSB5</item>
				<item>/dev/ttyAMA0</item>
				<item>/dev/ttyAMA1</item>
				<item>/dev/ttyACM0</item>
				<item>/dev/ttyACM1</item>
				<item>/dev/rfcomm0</item>
				<item>/dev/rfcomm1</item>
				<item>/dev/ircomm0</item>
				<item>/dev/ircomm1</item>
				<item>/dev/cuau0</item>
				<item>/dev/cuau1</item>
				<item>/dev/cuau2</item>
				<item>/dev/cuau3</item>
				<item>/dev/cuaU0</item>
				<item>/dev/cuaU1</item>
				<item>/dev/cuaU2</item>
				<item>/dev/cuaU3</item>
			</content>
			<selection>24</selection>
			<pos>112,96</pos>
			<size>168,31</size>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="reset_button" member="yes">
			<label>Reset</label>
			<pos>216,160</pos>
			<handler function="Onreset_buttonClick" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
